.container {
  vertical-align: top;
  min-height: 102vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  z-index: 1;
  background-color: #28282B;
  overflow: hidden;
}

.linkedin {
  position: relative;
  top: 0.1em;
  margin-right: 1vw;
}

.github {
  position: relative;
  top: 0.1em;
}

.title a {
  color: white;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0 0 1rem;
  line-height: 1.15;
  font-size: 3.6rem;
}

.title {
  text-align: center;
}

.title,
.description {
  text-align: center;
}

.description {
  line-height: 1.5;
  font-size: 1.5rem;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  max-width: 800px;
  margin-top: 3rem;
}

.card {
  margin: 1rem;
  flex-basis: 45%;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition:
    color 0.15s ease,
    border-color 0.15s ease;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h3 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
}

@media (max-width: 900px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
  .container {
    flex-direction: column;
  }
  .aboutexperience {
    flex-direction: row;
  }
}

.developer {
  position: absolute;
  top: 0px;
}

.rotate {
  transform: rotate3d(1, 0, 0, -70deg);
  top: -30rem;
  margin-left: 7vw;
  margin-bottom: 0vh;
  z-index : 1;
  position: relative;
}

.fadein {
  opacity: 0;
  transition: opacity 0.5s ease-in;
}

.fadein.appear {
  opacity: 1;
  transition: opacity 1s ease-in;
}

.site-logo {
  font-weight: 900;
  font-size: 0.8rem;
  color: var(--text);
  text-decoration: none;
  position: absolute;
}

.header {
  --text: #f4f4f4;
  --text-inverse: #333;
  --background: transparent;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 998;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3vh 3vh 3vh 3vh;
  transition: background 200ms ease-in;
  background: var(--background);
  color: var(--text);
}

.header.scrolled {
  --background: #28282ba1;
}

.nav__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav__link {
  --spacing: 1em;
  text-decoration: none;
  color: white;
  display: inline-block;
  padding: calc(var(--spacing) / 2) var(--spacing);
  position: relative;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.9rem;
}

.homeintro {
  background-size: cover !important;
  background-position: center !important;
  background-blend-mode: soft-light !important;
  color: rgba(255, 255, 255, 1.0);
  text-align: center;
  width: 110%;
  height: 120vh;
  z-index: 1;
  position: absolute;
  top: -20vh;
  overflow: visible;
  transition: background 400ms ease-in-out, color 2ms ease-in-out;
}

.homeintro.background {
  background: #28282B !important;
  color: #28282B !important;
  transition: none;
}
.first {
  background-color: #28282B;
  transition: background-color 1s ease-in-out;
  text-align: center;
  font-family: "Roboto", sans-serif;
  justify-content: center;
  overflow: visible;
}

.first.show {
  background-color: #FAF9F6;
  transition: background-color 2s ease-in-out;
}

.site_logo {
  font-weight: 700;
  font-size: 0.8rem;
  color: var(--text);
  text-decoration: none;
  margin-right: 1vw;
}

.intro {
  height: 39.1rem;
  margin: 0 auto;
  background: transparent;
  z-index: 1;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.introname {
  margin: 0 0 0 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-size: 3.8rem;
  font-weight: 80;
  letter-spacing: 2vw;
  color: #f4f4f4;
  position: relative;
  text-transform: uppercase;
  top: 19%;
  left: 0vh;
  text-align: center;
}

.introsub {
  list-style: none;
  text-decoration: none;
  color: #f4f4f4;
  margin: 0.5vh 0 0.5vh 0;
  margin-right: auto;
  padding: 1.5vh 1vh 1.5vh 1vh;
  position: relative;
  font-family: "Roboto" sans-serif;
  font-weight: 300;
  font-size: 2rem;
  letter-spacing: 0.1rem;
  top: 18vh;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.5s ease-in-out, text-shadow 0.4s ease-in-out;;
}

.introsub.show {
  opacity: 1;
}

.introsub:hover {
  text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.5);
  transition: text-shadow 0.2s ease-in-out;
}

.title {
  margin: 0 0 0 0;
  line-height: 1.15;
  font-size: 15vh;
  position: absolute;
  font-family: "Roboto" sans-serif;
  font-weight: 100;
  background-color: transparent;
  padding: 0 0 0 0;
  z-index: 1;
  pointer-events: none;
  color: white;
  transition: font-size 1s ease-in, color 1s ease-in, top 1s ease-in, margin 1s ease-in;
}

.title.show {
  font-size: 4rem;
  margin: -28rem 0 0 0;
  color: #28282B;
  padding: 0 0 0 0;
  transition: font-size 2s ease-in, color 2s ease-in, top 2s ease-in, margin 2s ease-in;
}

.about {
  background: #28282B;
}

.aboutme {
  position: relative;
  font-weight: 300;
  color: #28282B;
  top: 6vh;
  left: -150vh;
  opacity: 0;
  font-size: 0em;
  transition: left 0.5s ease-in-out, opacity 0.5s ease-in-out, font-size 0.5s ease-in-out;
}

.aboutme.show {
  left: 0vh;
  opacity: 1;
  font-size: 1.5em;
  transition: left 2.7s ease-in-out, opacity 2.7s ease-in-out;
}

.aboutexperience {
  position: relative;
  top: 3rem;
  left: 2rem;
  display: flex;
  flex-direction: row;
  color: #28282B;
  gap: 4rem;
  text-align: left;
  font-size: 1.1rem;
  font-weight: 200;
}

.table {
  position: relative;
  top: -1.5rem;
  border-collapse: separate;
  border-spacing: 1.2rem;
}

.abouttitle {
  color: #28282B;
  font-size: 2.2rem;
  font-weight: 300;
}
.experiencetext {
  padding: 0 0 0 0;
  line-height: 1.5rem;
  cursor: pointer;
}
.experiences {
  text-shadow: #89b9f1 0px 0px 5px;
  transition: text-shadow 0.2s ease-in-out, color 0.2s ease-in-out;
}

.experiences:hover {
  text-shadow: #28282B 0px 0px 20px;
  color: white;
  transition: text-shadow 0.2s ease-in-out, color 0.2s ease-in-out;
}

.experiencebox {
  position: fixed;
  top: 50%;
  left: 70%;
  transform: translate(-50%, -50%);
  width: 40vw;
  height: auto;
  background-color: #28282B;
  border-radius: 10px;
  padding: 1vh 1vw 1vh 1vw;
  z-index: 5;
  opacity: 0;
  transition: opacity 0.2s ease-in;
}
.experiencebox.show {
  opacity: 1;
  transition: opacity 0.2s ease-in;
}
.experiencebullets {
  text-align: left;
  margin-left: 20px;
  text-indent: -20px;
}

.aboutSummary {
  width: 50%;
  color: #28282B;
  font-size: 2.5vh;
  font-weight: 300;
}

.projects {
  overflow: visible;
  background-color: #0f0f0f;
  color: black;
  height: 120vh;
}

.projectTitle {
  margin: 10rem 0 0 0;
  line-height: 1.15;
  font-size: 4rem;
  font-family: "Roboto" sans-serif;
  font-weight: 100;
  background-color: transparent;
  padding: 0 0 0 0;
  z-index: 2;
  pointer-events: none;
  color: white;
  transition: font-size 1s ease-in, color 1s ease-in, top 1s ease-in, margin 1s ease-in;
}

.projectIntro {
  position: relative;
  margin: 2rem 0 0 0;
  color: white;
  z-index: 3;
  font-weight: 100;
  font-size: 3.5vh;
  pointer-events: none;
}

.projectPopup {
  position: fixed;
  font-family: 'Ubuntu', sans-serif;
  top: 52%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: auto;
  height: auto;
  background-color: rgba(40, 40, 43, 0.8);
  border-radius: 10px;
  padding: 1vh 1vw 1vh 1vw;
  color: white;
  font-weight: 200;
  font-size: 1.3vw;
  text-align: center;
  z-index: 5;
  opacity: 0;
  transition: opacity 0.2s ease-in;
}
.visible {
  opacity: 1;
}

.projectDescription {
  margin: 1vh 1vh 2vh 1vh;
  padding: 0;
}
.projectButtonLeft {
  position: absolute;
  padding: 30vh 1vw 30vh 1vw;
  margin: auto -1vw auto -1vw;
  top: 50%;
  left: 1vw;
  transform: translate(0%, -50%);
  cursor: pointer;
  font-weight: 600;
}
.projectButtonRight {
  position: absolute;
  padding: 30vh 1vw 30vh 1vw;
  margin: auto -1vw auto -1vw;
  top: 50%;
  right: 1vw;
  transform: translate(0, -50%);
  cursor: pointer;
  font-weight: 600;
}
.fluids {
  position: absolute;
  top: 0;
  height: 100%;
  overflow: hidden;
}
.personal {
  background-color: #FAF9F6;
  color: #28282B;
  font-size: 2.5vh;
  font-weight: 300;
  padding: 0 0 0 0;
  text-align: center;
  opacity: 1;
  overflow: visible;
  min-height: 140vh;
  transition: top 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.personaltitle {
  margin: 15vh 0 6vh 0;
  line-height: 1.15;
  font-size: 10vh;
  font-family: "Roboto" sans-serif;
  font-weight: 200;
  background-color: transparent;
  z-index: 2;
  color: black;
  transition: font-size 1s ease-in, color 1s ease-in, top 1s ease-in, margin 1s ease-in;
}
.personalintro {
  margin: -5rem 0 0 0;
  font-size: 1.2em;
  font-weight: 300;
  max-width: 50rem;
}

.personalconclusion {
  margin: 0;
  font-size: 1.2em;
  font-weight: 300;
  max-width: 40rem;
}

.personalwriting {
  margin: 2vh;
  font-size: 1.2em;
  font-weight: 300;
  max-width: 20rem;
}
.carousel {
  display: flex;
  flex-direction: row;
}
.carouselTitle {
  font-family: 'Times New Roman', Times, serif;
  font-size: 4rem;
  color: #28282B;
  margin: 0 -9.5rem 0 -18rem;
  transform: rotate(-90deg) translateX(-51%);
  height: 0;
}

.carouselWriting {
  font-family: 'Times New Roman', Times, serif;
  font-size: 4.5rem;
  color: #28282B;
  margin: 0 -4rem 0 -11rem;
  transform: rotate(-90deg) translateX(-61%);
  height: 0;
}

.hobbiestitle {
  font-family: 'Times New Roman', Times, serif;
  font-size: 4.5rem;
  color: #28282B;
}

.hobbiesend {
  font-family: 'Times New Roman', Times, serif;
  font-size: 3rem;
  color: #28282B;
}

.button__svg {
  width: 2.4rem;
  height: 2.4rem;
  rotate: -90deg;
  transition: width 0.2s, height 0.2s;
}
.button__svg:hover {
  width: 3rem;
  height: 3rem;
  transition: width 0.2s, height 0.2s;
}

.downButton {
  position: absolute;
  margin: 0;
  padding: 0;
  top: -5rem;
  cursor: pointer;
  z-index: 2;
}

.contact {
  overflow: visible;
  height: 100vh;
}

.button6 {
  align-items: center;
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.85);
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui, -apple-system, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1rem;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: 100%;
}

.button6:hover,
.button6:focus {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color: rgba(0, 0, 0, 0.65);
}

.button6:hover {
  transform: translateY(-1px);
}

.button6:active {
  background-color: #F0F0F1;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: rgba(0, 0, 0, 0.65);
  transform: translateY(0);
}

.formtitle {
  position: absolute;
  font-size: 4rem;
  font-weight: 100;
  font-family: 'Roboto' sans-serif;
  top: 6%;
  left: 50%;
  translate: -50%;
}

.form {
  margin: 14rem 0 0 0;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 1rem;
}

.input {
  width: 40rem;
  padding: 10px;
  border: 0;
  outline: none;
  border-radius: 0.5rem;
  margin-bottom: 0.9rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  background-color: transparent;

  font-size: 1.2rem;
  font-family: 'Roboto' sans-serif;
  font-weight: 100;
  color: rgba(255, 255, 255, 0.7);;
  text-align: left;
  transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out;
}

.input:focus {
  border-color: white;
  color: white;
}

.textarea {
  width: 40rem;
  height: 10rem;
  padding: 10px;
  border: 0;
  outline: none;
  border-radius: 0.5rem;
  margin-bottom: 0.9rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  background-color: transparent;

  font-size: 1.2rem;
  font-family: 'Roboto' sans-serif;
  font-weight: 100;
  color: rgba(255, 255, 255, 0.7);
  text-align: left;
  transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out;
}
.textarea:focus {
  border-color: white;
  color: white;
}

.contactreturn {
  position: absolute;
  padding: 2rem;
  font-size: 2.2rem;
  font-weight: 100;
  color: #eaeaea;
  text-align: center;
  top: 45vh;
}

.contactreturn1 {
  position: absolute;
  padding: 2rem;
  font-size: 3.2rem;
  font-weight: 100;
  color: #eaeaea;
  text-align: center;
  top: 20vh;
}

.contactImage {
  object-fit: 'cover';
  z-index: -1;
  height: '100%';
  width: '100%';
  position: 'absolute';
  bottom: 0;
  opacity: 0.5;
  filter: 'blur(4px)';
  transition: background 1s ease-in-out;
}

.backgroundpic {
  position: fixed;
  width: 100rem;
  top: 45%;
  left: 50%;
  z-index: -1;
  transform: translate(-50%, -50%);
  object-fit: cover;
}